<a href="https://colab.research.google.com/github/JamilePolycarpo/MachineLearning/blob/main/Ex1_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercícios

Para esse conjunto de exercícios vamos utilizar o conjunto de dados disponibilizado no dataset MovieLens 100k
O conjunto de dados do MovieLens foi coletados pelo GroupLens Research Project na Universidade de Minnesota.
Este conjunto de dados consiste em:
100.000 classificações (1-5) de 943 usuários em 1.682 filmes.
Cada usuário classificou pelo menos 20 filmes.
O dataset está dividido em diversos arquivos. Utilizando a biblioteca Pandas, implemente funções que realizem as seguintes tarefas:
Considerando os dados de avaliação dos usuários

Cálculo da média, desvio padrão e variância para o dataset de avaliações completo (por filme);
Cálculo de média, desvio padrão e variância para cada usuário (armazenar esses valores em novas colunas do dataset);
Encontrar indivíduos que avaliam filmes de forma mais uniforme, i.e., avaliações estão próximo ao valor da média do indivíduo;
Considerando os dados sobre filmes

Criar DataFrame que contenha informações sobre filmes:
movie id	movie title	release date	video release date	IMDb URL	unknown	Action	Adventure	Animation	Children's	Comedy	Crime	Documentary	Drama	Fantasy	Film-Noir	Horror	Musical	Mystery	Romance	Sci-Fi	Thriller	War	Western
1	Toy Story (1995)	01-Jan-1995		http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)	0	0	0	1	1	1	0	0	0	0	0	0	0	0	0	0	0	0	0
2	GoldenEye (1995)	01-Jan-1995		http://us.imdb.com/M/title-exact?GoldenEye%20(1995)	0	1	1	0	0	0	0	0	0	0	0	0	0	0	0	0	1	0	0
3	Four Rooms (1995)	01-Jan-1995		http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995)	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	1	0	0
...
Identificar qual gênero de filme possui o maior número de exemplos;
Verificar se existem dados faltando
Criando novo dataset

Criar novo DataFrame que condense informações sobre o gênero do filme:
movie id	movie title	release date	video release date	IMDb URL	genre
1	Toy Story (1995)	01-Jan-1995		http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)	Animation,Children's,Comedy
2	GoldenEye (1995)	01-Jan-1995		http://us.imdb.com/M/title-exact?GoldenEye%20(1995)	Action,Adventure,Thriller
3	Four Rooms (1995)	01-Jan-1995		http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995)	Thriller
...
Adicionar colunas que armazenem dados para o total de avaliações, a soma das avaliações, média, valor máximo (e mínimo), desvio padrão e variância;
Mostrar filmes com maior (e menor) número de avaliações;
Normalização é uma das tarefas mais importantes quando estamos preparando um dataset para utilizar algoritmos de Machine Learning. Implementar as seguintes estratégias de normalização:
Normalização min-max
Normalização pela média
Normalização Z-score

In [1]:
# Passo 1: Download do dataset
!wget -nc http://files.grouplens.org/datasets/movielens/ml-100k.zip

# Passo 2: Extração do dataset
!unzip -n ml-100k.zip

# Passo 3: Carregamento dos dados com Pandas
import pandas as pd




# Carregando os dados de avaliações
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=['user_id', 'movie_id', 'rating', 'timestamp'])

#Carregando os dados dos usuarios
users = pd.read_csv('ml-100k/u.user', sep='|', names=['user_id', 'age', 'gender', 'occupation', 'zip_code'])

# Carregando os dados dos filmes
movies = pd.read_csv('ml-100k/u.item', sep='|', names=[
    'movie_id', 'movie_title', 'release_date', 'video_release_date', 'IMDb_URL', 'unknown',
    'Action', 'Adventure', 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama',
    'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'
], encoding='latin-1')

# Exibindo as primeiras linhas dos DataFrames para verificar o carregamento
print(users.head())
print(ratings.head())
print(movies.head())

--2024-06-26 13:48:12--  http://files.grouplens.org/datasets/movielens/ml-100k.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4924029 (4.7M) [application/zip]
Saving to: ‘ml-100k.zip’

ml-100k.zip         100%[===================>]   4.70M  9.48MB/s    in 0.5s

2024-06-26 13:48:13 (9.48 MB/s) - ‘ml-100k.zip’ saved [4924029/4924029]

Archive:  ml-100k.zip
   creating: ml-100k/
  inflating: ml-100k/allbut.pl
  inflating: ml-100k/mku.sh
  inflating: ml-100k/README
  inflating: ml-100k/u.data
  inflating: ml-100k/u.genre
  inflating: ml-100k/u.info
  inflating: ml-100k/u.item
  inflating: ml-100k/u.occupation
  inflating: ml-100k/u.user
  inflating: ml-100k/u1.base
  inflating: ml-100k/u1.test
  inflating: ml-100k/u2.base
  inflating: ml-100k/u2.test
  inflating: ml-100k/u3.base
  inflating: ml-100k/u3.test
  inflating: ml-100k/u4.base
  inflating: ml-100k/u4.test
  inflating: ml-100k/u5.base
  inflating: ml-100k/u5.test
  inflating: ml-100k/ua.base
  inflating: ml-100k/ua.test
  inflating: ml-100k/ub.base
  inflating: ml-100k/ub.test
   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213
   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596
   movie_id        movie_title release_date  video_release_date  \
0         1   Toy Story (1995)  01-Jan-1995                 NaN
1         2   GoldenEye (1995)  01-Jan-1995                 NaN
2         3  Four Rooms (1995)  01-Jan-1995                 NaN
3         4  Get Shorty (1995)  01-Jan-1995                 NaN
4         5     Copycat (1995)  01-Jan-1995                 NaN

                                            IMDb_URL  unknown  Action  \
0  http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0
1  http://us.imdb.com/M/title-exact?GoldenEye%20(...        0       1
2  http://us.imdb.com/M/title-exact?Four%20Rooms%...        0       0
3  http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1
4  http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0

   Adventure  Animation  Children's  ...  Fantasy  Film-Noir  Horror  Musical  \
0          0          1           1  ...        0          0       0        0
1          1          0           0  ...        0          0       0        0
2          0          0           0  ...        0          0       0        0
3          0          0           0  ...        0          0       0        0
4          0          0           0  ...        0          0       0        0

   Mystery  Romance  Sci-Fi  Thriller  War  Western
0        0        0       0         0    0        0
1        0        0       0         1    0        0
2        0        0       0         1    0        0
3        0        0       0         0    0        0
4        0        0       0         1    0        0

[5 rows x 24 columns]

In [2]:
data = pd.merge(pd.merge(ratings, users), movies)

In [3]:
data.head()

,user_id,movie_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,242,3,881250949,49,M,writer,55105,Kolya (1996),24-Jan-1997,...,0,0,0,0,0,0,0,0,0,0
1,305,242,5,886307828,23,M,programmer,94086,Kolya (1996),24-Jan-1997,...,0,0,0,0,0,0,0,0,0,0
2,6,242,4,883268170,42,M,executive,98101,Kolya (1996),24-Jan-1997,...,0,0,0,0,0,0,0,0,0,0
3,234,242,4,891033261,60,M,retired,94702,Kolya (1996),24-Jan-1997,...,0,0,0,0,0,0,0,0,0,0
4,63,242,3,875747190,31,M,marketing,75240,Kolya (1996),24-Jan-1997,...,0,0,0,0,0,0,0,0,0,0

In [4]:
data.drop('zip_code', axis=1, inplace=True)

In [5]:
data.head()

,user_id,movie_id,rating,timestamp,age,gender,occupation,movie_title,release_date,video_release_date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,242,3,881250949,49,M,writer,Kolya (1996),24-Jan-1997,NaN,...,0,0,0,0,0,0,0,0,0,0
1,305,242,5,886307828,23,M,programmer,Kolya (1996),24-Jan-1997,NaN,...,0,0,0,0,0,0,0,0,0,0
2,6,242,4,883268170,42,M,executive,Kolya (1996),24-Jan-1997,NaN,...,0,0,0,0,0,0,0,0,0,0
3,234,242,4,891033261,60,M,retired,Kolya (1996),24-Jan-1997,NaN,...,0,0,0,0,0,0,0,0,0,0
4,63,242,3,875747190,31,M,marketing,Kolya (1996),24-Jan-1997,NaN,...,0,0,0,0,0,0,0,0,0,0

In [6]:
data.drop('video_release_date', axis=1, inplace=True)

In [7]:
import pandas as pd

# Agrupando por movie_id e calculando média, desvio padrão e variância
movie_stats = data.groupby('movie_title')['rating'].agg(['mean', 'std', 'var'])

# Exibindo as primeiras linhas do DataFrame resultante
print(movie_stats.head(10))

                                                 mean       std       var
movie_title
'Til There Was You (1997)                    2.333333  1.000000  1.000000
1-900 (1994)                                 2.600000  1.516575  2.300000
101 Dalmatians (1996)                        2.908257  1.076184  1.158172
12 Angry Men (1957)                          4.344000  0.719588  0.517806
187 (1997)                                   3.024390  1.172344  1.374390
2 Days in the Valley (1996)                  3.225806  0.957000  0.915849
20,000 Leagues Under the Sea (1954)          3.500000  0.731581  0.535211
2001: A Space Odyssey (1968)                 3.969112  1.026307  1.053306
3 Ninjas: High Noon At Mega Mountain (1998)  1.000000  0.000000  0.000000
39 Steps, The (1935)                         4.050847  0.859505  0.738749

In [8]:

# Agrupando por user_id e calculando média, desvio padrão e variância
user_stats = data.groupby('user_id')['rating'].agg(['mean', 'std', 'var']).reset_index()

# Renomeando as colunas para evitar conflitos
user_stats.columns = ['user_id', 'mean_user_rating', 'std_user_rating', 'var_user_rating']

#Ordenar usuarios pela média
user_stats.sort_values('mean_user_rating', ascending=True)

# Exibindo as primeiras linhas do DataFrame resultante
print(user_stats)

     user_id  mean_user_rating  std_user_rating  var_user_rating
0          1          3.610294         1.263585         1.596646
1          2          3.709677         1.030472         1.061872
2          3          2.796296         1.219026         1.486024
3          4          4.333333         0.916831         0.840580
4          5          2.874286         1.362963         1.857668
..       ...               ...              ...              ...
938      939          4.265306         0.974156         0.948980
939      940          3.457944         1.012007         1.024158
940      941          4.045455         0.898532         0.807359
941      942          4.265823         0.763072         0.582278
942      943          3.410714         1.258886         1.584795

[943 rows x 4 columns]

In [10]:
# Agrupando por user_id e calculando média, desvio padrão e variância
user_stats = data.groupby('user_id')['rating'].agg(['std', 'sum', 'mean', 'max', 'min', 'size', 'var']).reset_index()

# Renomeando as colunas para evitar conflitos
user_stats.columns = ['user_id', 'std_user_rating', 'sum_user_rating', 'mean_user_rating', 'max_user_rating', 'min_user_rating', 'size_user_rating', 'var_user_rating']

#Ordenar usuarios pela média
user_stats.sort_values('std_user_rating', ascending=True)

# Exibindo as primeiras linhas do DataFrame resultante
print(user_stats.sort_values('std_user_rating', ascending=False)) #calcular o desvio padrao

     user_id  std_user_rating  sum_user_rating  mean_user_rating  \
608      609         1.749906               67          2.392857
761      762         1.687489               64          3.047619
530      531         1.654322               97          3.233333
67        68         1.604639              103          3.029412
37        38         1.598036              450          3.719008
..       ...              ...              ...               ...
32        33         0.550033               89          3.708333
468      469         0.549841              195          4.534884
476      477         0.505433              156          4.457143
354      355         0.483576              106          4.076923
848      849         0.344350              112          4.869565

     max_user_rating  min_user_rating  size_user_rating  var_user_rating
608                5                1                28         3.062169
761                5                1                21         2.847619
530                5                1                30         2.736782
67                 5                1                34         2.574866
37                 5                1               121         2.553719
..               ...              ...               ...              ...
32                 5                3                24         0.302536
468                5                3                43         0.302326
476                5                4                35         0.255462
354                5                3                26         0.233846
848                5                4                23         0.118577

[943 rows x 8 columns]

In [11]:
pd.DataFrame(movies)

,movie_id,movie_title,release_date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
# Selecionar apenas as colunas de gêneros
genre_columns = movies.columns[5:]

# Somar os valores de cada coluna de gênero para contar o número de exemplos
genre_counts = movies[genre_columns].sum()

# Identificar o gênero com o maior número de exemplos
most_common_genre = genre_counts.idxmax()
most_common_genre_count = genre_counts.max()

print(f"O gênero com o maior número de exemplos é '{most_common_genre}' com {most_common_genre_count} exemplos.")


# Exibir os gêneros e suas contagens
print("\nContagem de filmes por gênero:")


print(genre_counts.sort_values(ascending=False))

O gênero com o maior número de exemplos é 'Drama' com 725 exemplos.

Contagem de filmes por gênero:
Drama          725
Comedy         505
Action         251
Thriller       251
Romance        247
Adventure      135
Children's     122
Crime          109
Sci-Fi         101
Horror          92
War             71
Mystery         61
Musical         56
Documentary     50
Animation       42
Western         27
Film-Noir       24
Fantasy         22
unknown          2
dtype: int64

In [26]:
# Agrupando por item_id e calculando média, desvio padrão e variância
# Verifique se 'movie_id' é a coluna correta para agrupamento
movie_stats = data.groupby('movie_id')['rating'].agg(['std', 'sum', 'mean', 'max', 'min', 'size', 'var']).reset_index()

# Renomeando as colunas para evitar conflitos
movie_stats.columns = ['item_id', 'std_movie_rating', 'sum_movie_rating', 'mean_movie_rating', 'max_movie_rating', 'min_movie_rating', 'size_movie_rating', 'var_movie_rating']

# Certifique-se de que 'movie_id' está presente em ambos os DataFrames
# Se 'movie_id' não estiver em df_movies_stats, renomeie 'item_id' para 'movie_id' em movie_stats
movie_stats.rename(columns={'item_id': 'movie_id'}, inplace=True)

df_movies_stats = pd.merge(df_movies_stats, movie_stats,on='movie_id', how='left')

# Exibindo as primeiras linhas do DataFrame resultante
print(df_movies_stats.head())
print('Filme com maior avaliacao:', df_movies_stats.loc[df_movies_stats['mean_movie_rating'].idxmax()])
print('Filme com menor avaliacao:', df_movies_stats.loc[df_movies_stats['mean_movie_rating'].idxmin()])

   movie_id        movie_title release_date  video_release_date  \
0         1   Toy Story (1995)  01-Jan-1995                 NaN
1         2   GoldenEye (1995)  01-Jan-1995                 NaN
2         3  Four Rooms (1995)  01-Jan-1995                 NaN
3         4  Get Shorty (1995)  01-Jan-1995                 NaN
4         5     Copycat (1995)  01-Jan-1995                 NaN

                                            IMDb_URL  unknown  Action  \
0  http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0
1  http://us.imdb.com/M/title-exact?GoldenEye%20(...        0       1
2  http://us.imdb.com/M/title-exact?Four%20Rooms%...        0       0
3  http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1
4  http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0

   Adventure  Animation  Children's  ...  min_movie_rating_y  \
0          0          1           1  ...                   1
1          1          0           0  ...                   1
2          0          0           0  ...                   1
3          0          0           0  ...                   1
4          0          0           0  ...                   1

   size_movie_rating_y  var_movie_rating_y  std_movie_rating  \
0                  452            0.860992          0.927897
1                  131            0.934116          0.966497
2                   90            1.470787          1.212760
3                  209            0.931358          0.965069
4                   86            0.895759          0.946446

   sum_movie_rating  mean_movie_rating  max_movie_rating  min_movie_rating  \
0              1753           3.878319                 5                 1
1               420           3.206107                 5                 1
2               273           3.033333                 5                 1
3               742           3.550239                 5                 1
4               284           3.302326                 5                 1

   size_movie_rating  var_movie_rating
0                452          0.860992
1                131          0.934116
2                 90          1.470787
3                209          0.931358
4                 86          0.895759

[5 rows x 47 columns]
Filme com maior avaliacao: movie_id                                                             814
movie_title                                Great Day in Harlem, A (1994)
release_date                                                 01-Jan-1994
video_release_date                                                   NaN
IMDb_URL               http://us.imdb.com/M/title-exact?Great%20Day%2...
unknown                                                                0
Action                                                                 0
Adventure                                                              0
Animation                                                              0
Children's                                                             0
Comedy                                                                 0
Crime                                                                  0
Documentary                                                            1
Drama                                                                  0
Fantasy                                                                0
Film-Noir                                                              0
Horror                                                                 0
Musical                                                                0
Mystery                                                                0
Romance                                                                0
Sci-Fi                                                                 0
Thriller                                                               0
War                                                                    0
Western                                                                0
item_id_x                                                            814
std_movie_rating_x                                                   NaN
sum_movie_rating_x                                                     5
mean_movie_rating_x                                                  5.0
max_movie_rating_x                                                     5
min_movie_rating_x                                                     5
size_movie_rating_x                                                    1
var_movie_rating_x                                                   NaN
item_id_y                                                            814
std_movie_rating_y                                                   NaN
sum_movie_rating_y                                                     5
mean_movie_rating_y                                                  5.0
max_movie_rating_y                                                     5
min_movie_rating_y                                                     5
size_movie_rating_y                                                    1
var_movie_rating_y                                                   NaN
std_movie_rating                                                     NaN
sum_movie_rating                                                       5
mean_movie_rating                                                    5.0
max_movie_rating                                                       5
min_movie_rating                                                       5
size_movie_rating                                                      1
var_movie_rating                                                     NaN
Name: 813, dtype: object
Filme com menor avaliacao: movie_id                                                             314
movie_title                  3 Ninjas: High Noon At Mega Mountain (1998)
release_date                                                 01-Jan-1997
video_release_date                                                   NaN
IMDb_URL               http://us.imdb.com/M/title-exact?imdb-title-11...
unknown                                                                0
Action                                                                 1
Adventure                                                              0
Animation                                                              0
Children's                                                             1
Comedy                                                                 0
Crime                                                                  0
Documentary                                                            0
Drama                                                                  0
Fantasy                                                                0
Film-Noir                                                              0
Horror                                                                 0
Musical                                                                0
Mystery                                                                0
Romance                                                                0
Sci-Fi                                                                 0
Thriller                                                               0
War                                                                    0
Western                                                                0
item_id_x                                                            314
std_movie_rating_x                                                   0.0
sum_movie_rating_x                                                     5
mean_movie_rating_x                                                  1.0
max_movie_rating_x                                                     1
min_movie_rating_x                                                     1
size_movie_rating_x                                                    5
var_movie_rating_x                                                   0.0
item_id_y                                                            314
std_movie_rating_y                                                   0.0
sum_movie_rating_y                                                     5
mean_movie_rating_y                                                  1.0
max_movie_rating_y                                                     1
min_movie_rating_y                                                     1
size_movie_rating_y                                                    5
var_movie_rating_y                                                   0.0
std_movie_rating                                                     0.0
sum_movie_rating                                                       5
mean_movie_rating                                                    1.0
max_movie_rating                                                       1
min_movie_rating                                                       1
size_movie_rating                                                      5
var_movie_rating                                                     0.0
Name: 313, dtype: object

In [20]:
# Verificar dados faltantes
missing_data = movies.isnull().sum()

print("Dados faltantes por coluna:")
print(missing_data)

Dados faltantes por coluna:
movie_id                 0
movie_title              0
release_date             1
video_release_date    1682
IMDb_URL                 3
unknown                  0
Action                   0
Adventure                0
Animation                0
Children's               0
Comedy                   0
Crime                    0
Documentary              0
Drama                    0
Fantasy                  0
Film-Noir                0
Horror                   0
Musical                  0
Mystery                  0
Romance                  0
Sci-Fi                   0
Thriller                 0
War                      0
Western                  0
dtype: int64

In [7]:
import pandas as pd

# Carregamento dos dados dos filmes
movies = pd.read_csv('ml-100k/u.item', sep='|', names=[
    'movie_id', 'movie_title', 'release_date', 'video_release_date', 'IMDb_URL', 'unknown',
    'Action', 'Adventure', 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama',
    'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'
], encoding='latin-1')

# Remover a coluna 'unknown' que não é relevante
movies = movies.drop(columns=['unknown'])

# Selecionar apenas as colunas de gêneros
genre_columns = movies.columns[5:]

# Criar uma nova coluna 'genre' que irá armazenar os gêneros combinados
movies['genre'] = ''

# Iterar sobre cada linha do DataFrame e combinar os gêneros
for index, row in movies.iterrows():
    genres = []
    for genre in genre_columns:
        if row[genre] == 1:
            genres.append(genre)
    movies.at[index, 'genre'] = ','.join(genres)

# Criar o novo DataFrame condensado
condensed_movies = movies[['movie_id', 'movie_title', 'release_date', 'video_release_date', 'IMDb_URL', 'genre']]

# Exibindo as primeiras linhas do DataFrame resultante
#print(condensed_movies.head())
pd.DataFrame(condensed_movies)

,movie_id,movie_title,release_date,video_release_date,IMDb_URL,genre
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,"Animation,Children's,Comedy"
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,"Action,Adventure,Thriller"
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,Thriller
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,"Action,Comedy,Drama"
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),"Crime,Drama,Thriller"
...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,Drama
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,"Romance,Thriller"
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),"Drama,Romance"
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,Comedy
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,Drama

In [20]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

le = LabelEncoder()
df_tmp = df_movies_stats
df_movies_stats['genre'] = le.fit_transform(df_movies_stats['genre'])

df_movies_stats = df_movies_stats.drop(columns=['movie_id', 'movie_title'], axis=1)

df_movies_stats.fillna(0)

scaler = StandardScaler()
df_movies_stats = scaler.fit_transform(df_movies_stats)

ValueError: could not convert string to float: "Animation,Children's,Comedy"

In [23]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

le = LabelEncoder()
df_tmp = df_movies_stats
df_movies_stats['genre'] = le.fit_transform(df_movies_stats['genre'])


if 'movie_id' in df_movies_stats.columns and 'movie_title' in df_movies_stats.columns:
    df_movies_stats = df_movies_stats.drop(columns=['movie_id', 'movie_title'], axis=1)
else:
    print("Columns 'movie_id' and/or 'movie_title' not found in the DataFrame.")

df_movies_stats = df_movies_stats.fillna(0)
scaler = StandardScaler()

df_movies_stats_scaled = scaler.fit_transform(df_movies_stats.select_dtypes(include=['number']))

Columns 'movie_id' and/or 'movie_title' not found in the DataFrame.